/*reset selector*/
* {
	margin: 0;
	padding: 0;
}

/*Body styles*/
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	max-width: 600px;
	margin: 0 auto;
	border: 3px solid #931420;
	background-color: #fffded;
}

/*Header styles*/
header{
	border-bottom: 3px solid #931420;
	padding-top: 1.5em;
	padding-bottom: 2em;
	background-image: -webkit-linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}

header h1{
	font-size: 170%;
	color: #800000;
}

header h2{
	font-size: 130%;
	font-style: italic;
}

header h2 span{
	color:  #800000;
	text-shadow: 2px 2px 4px  #800000;
}

header img {
	float: left;
	padding-right: 30px;
	padding-left: 30px;
}

/*Main styles*/
main {
	clear: left;
	padding-left: 30px;
	padding-right: 30px;
}

main h1{
	font-size: 150%;
	padding-top: .3em;
	padding-bottom: .3em;
}

main h2{
	font-size: 130%;
	color: #800000;
	border: 3px solid #931420;
	border-radius: 10px;
	box-shadow: 3px 3px 3px 3px #931420;
	padding-top: .5em;
	padding-bottom: .25em;
	width: 350px;
	text-align: center;
}

main h3{
	font-size:105%;
	padding-top: .25em;
	padding-bottom: .25em;
}

main .First-Season {
	padding-top: 1em;
}

main img{
	padding-bottom: 1em;
}

main p{
	padding-bottom: .5em;
}

main q{
	padding-bottom: .5em;
	font-style: italic;
}

main ul{
	padding-left: 1.25em;
	padding-bottom: .25em;
}

main li{
	padding-bottom: .35em;
}

/*link hover*/
a:hover{
	font-style: italic;
}

/*footer styles*/
footer {
	text-align: center;
	background-color: #931420;
}

footer p{
	color: white;  
	padding-top: 1em;       
	padding-bottom: 1em;                
}
